
.meni_table {text-align:left; color:Black; font-size:larger; font-weight:bold; font-family: Courier New;}

.meni_frejm {text-align:central; font-size:large; font-weight:bolder; font-family:Verdana; vertical-align:middle;}

.naslovi{text-align:center; font-size:xx-large; font-weight:bolder; font-family:Andalus,Verdana; text-decoration:underline; text-transform:uppercase; color:Aqua }7

.liste{color:Green; font-size:x-large; font-family:Andalus,Verdana; font-weight:bold; text-align:center; text-transform:uppercase;}

.fontComic{color:Black; font-size:medium; font-family:Comic Sans MS,Andalus,Verdana; font-weight:bold; text-align:left; font-variant:normal;}